* {
  margin: 0;
}

.header {
  width: 100%;
  height: max-content;
  box-shadow: 0 3px 10px #dadada;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.header-sp {
  display: none;
}

nav {
  display: flex;
  padding: 10px 10%;
  justify-content: space-between;
  align-items: center;
  /* display: inline-block; */
}

.logo {
  width: 179px;
  height: 24px;
  background-color: #ffffff;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-weight: 500;
  padding: 0px 9px;
}

.nav-links button {
  width: 115px;
  height: 36px;
  border-radius: 21px;
  background-color: #b72e33;
  background-image: linear-gradient(45deg, #ff7d00 20%, #ff544f 80%);
  color: #ffffff;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  border: none;
  /* position: relative;
    left: 25%; */
}

#bh {
  padding: 0;
  margin: 0;
  width: 100%;
  height: max-content;
  background-image: url("../images/レイヤー_6.jpg");
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: row;
}

/* 
    display: flex;
    flex-direction: column;
} */

#bh .left,
#bh .right {
  flex: 50%;
  /* padding-top: 190px; */
  padding-top: 10%;
  padding-bottom: 10%;
}

#bh .left {
  padding-left: 10%;
}

#bh .left img {
  width: 428px;
  height: 338px;
}

#bh .right {
  align-content: center;
  margin-right: 5%;
  justify-items: center;
}

#bh .right h1 {
  width: 100%;
  height: 10%;
  color: #1d1d20;
  font-family: "Poppins";
  font-size: 54px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

#bh .right p {
  width: 100%;
  height: 70%;
  color: #1d1d20;
  font-family: "Noto Sans JP";
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  text-align: left;
  padding-top: 7%;
}

#bh .right button {
  width: 266px;
  height: 50px;
  border-radius: 25px;
  background-color: #b72e33;
  background-image: linear-gradient(45deg, #ff7d00 20%, #ff544f 80%);
  border: none;
  color: #fffefe;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.91px;
  line-height: normal;
  cursor: pointer;
  padding: 0%;
  margin: 0%;
}

#work {
  width: 100%;
  height: 800px;
  background-color: #ffffff;
  padding: 3% 0%;
  text-align: center;
}

#work h2 {
  width: 100%;
  height: 22px;
  color: #ff7d00;
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
}

#work h1 {
  width: 100%;
  height: 36px;
  color: #000000;
  font-family: "Poppins";
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  text-transform: uppercase;
}

#work a {
  width: 100%;
  height: 20px;
  color: #ff7d00;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 300;
  text-decoration: underline;
  /* Text style for "h, ttps://" */
  font-style: normal;
  letter-spacing: 1.28px;
  line-height: 4;
}

.work-container {
  display: flex;
  flex-direction: row;
  height: max-content;
  margin-top: 6%;
}

.work-container h3 {
  text-align: center;
  padding-right: 5%;
}

.work-container img {
  width: 80%;
  height: 235px;
}

.work-container .left {
  flex: 33%;
  height: 100%;
  color: #000000;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  text-align: left;
  padding-left: 3%;
  padding-right: 3%;
}

.work-container .center {
  flex: 33%;
  height: 100%;
  color: #000000;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  text-align: left;
  padding-left: 3%;
  padding-right: 3%;
}

.work-container .right {
  flex: 33%;
  height: 100%;
  color: #000000;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  text-align: left;
  padding-left: 3%;
  padding-right: 3%;
}

#work .owl-prev,
#work .owl-next {
  width: 55px;
  height: 55px;
  background-color: #ff7d00;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

#work .owl-prev span,
#work .owl-next span {
  font-size: 38px;
  color: white;
  font-family: "Poppins";
}
#work button {
 color: white;
}
#about {
  background-image: url("../images/bg.png");
  width: 100%;
  height: 547px;
  position: relative;
  text-align: center;
}

/* #about div {
  padding-top: 2%;
} */
#about .title h2 {
  width: 100%;
  height: 32px;
  color: #ff7d00;
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  padding-top: 2%;
}

#about .capt h1 {
  width: 100%;
  height: 31px;
  color: #000000;
  font-family: "Poppins";
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: 3.04px;
  padding-top: 2%;
}

#about .des p {
  width: 60%;
  height: max-content;
  color: #000000;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  letter-spacing: 2.08px;
  padding-top: 2%;
  padding-left: 20%;
}

#about .twit-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#about .twit-links div {
  padding: 2% 2%;
  width: 65px;
}

#about .twit-links div a {
  height: 19px;
  color: #00aced;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  text-align: left;
  text-decoration: none;
}

#cmpy {
  width: 100%;
  height: max-content;
  position: relative;
  text-align: center;
  padding: 9% 0%;
}

table,
td,
th {
  border: 2px solid rgb(16, 16, 16);
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 80%;
  position: relative;
  left: 10%;
}

table tr:nth-child(odd) {
  background-color: #fff9f4;
}

th,
td {
  padding: 15px;
}

th {
  color: #000000;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  text-align: left;
  letter-spacing: 2.08px;
  padding-left: 4%;
}

td {
  color: #000000;
  font-family: "Noto Sans CJ Kjp";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  text-align: left;
  letter-spacing: 2.08px;
  padding-left: 9%;
}

#cmpy .title {
  color: #ff7d00;
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
}

#cmpy .capt {
  color: #000000;
  font-family: "Koz Go Pr 6 N";
  font-size: 38px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  letter-spacing: 3.04px;
}

#cont {
  width: 100%;
  height: max-content;
  background-color: #f5f5f5;
  position: relative;
  text-align: center;
}

#cont .title {
  width: 100%;
  height: 21px;
  color: #ff7d00;
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  padding-top: 3%;
}

#cont .capt {
  width: 100%;
  height: 36px;
  color: #000000;
  font-family: "Koz Go Pr 6 N";
  font-size: 38px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  padding-top: 3%;
}
.cbtn{
  width: 50%;
 padding:0% 25%;
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;

}
.cbtn .clbtn ,.cbtn .crbtn{
  flex: 40%;
  padding: 2%;
}
#cont button {
  width: 100%;
  height: 150%;
  border-radius: 25px;
  background-color: #b72e33;
  background-image: linear-gradient(45deg, #ff7d00 20%, #ff544f 80%);
  border: none;
  color: #fffefe;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.91px;
}

#cont div {
  padding-top: 2%;
}

#cpr8 {
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
}

#cpr8 p {
  width: 100%;
  height: 22px;
  color: #959595;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 1% 0%;
}

@media (max-width: 1366px) {
  .logo {
    width: 149px;
    height: 20px;
  }

  a {
    font-size: 15px;
    padding: 0px 7px;
  }

  #bh .right h1 {
    font-size: 54px;
  }

  #bh .right p {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .logo {
    width: 98px;
    height: 20px;
  }

  a {
    font-size: 13px;
    padding: 0px 5px;
  }

  .nav-links button {
    width: 98px;
    height: 25px;

    font-size: 14px;
    font-weight: 400;
  }

  .nav-links button img {
    width: 12px;
    height: 12px;
  }

  #bh .left img {
    width: 328px;
    height: 290px;
  }

  #bh .right h1 {
    font-size: 40px;
  }

  #bh .right p {
    font-size: 14px;
    line-height: 30px;
  }

  #bh .right button {
    width: 200px;
    height: 40px;
    font-size: 12px;
  }

  #cont {
    height: max-content;
  }
}

@media (max-width: 900px) {
  a {
    font-size: 11px;
    padding: 0px 3px;
  }

  #bh .right p {
    font-size: 12px;
    line-height: 30px;
  }

  #bh .right button {
    width: 180px;
    height: 30px;
    font-size: 10px;
  }

  #bh .left img {
    width: 288px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .header-sp {
    display: unset;
  }

  .header-sp {
    width: 100%;
    height: max-content;
    display: flex;
    /* padding: 10px 10%; */
    justify-content: space-around;
    align-items: center;
  }

  .header-sp button {
    width: 145px;
    height: 42px;
    border-radius: 21px;
    background-color: #b72e33;
    background-image: linear-gradient(45deg, #ff7d00 20%, #ff544f 80%);
    color: #ffffff;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    border: none;
    /* position: relative;
      left: 25%; */
  }

  .dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #dadada;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }

  /* #work .owl-prev,
  #work .owl-next {
    width: 65px;
    height: max-content;
  } */

  #work .owl-prev span,
  #work .owl-next span {
    justify-content: space-evenly;
    justify-items: center;
    font-size: 44px;
  }

  .header {
    display: none;
  }

  #bh {
    height: max-content;
    display: flex;
    flex-direction: column;
    background-image: url("/images/レイヤー_668.png");
    /* background-image: url("../images/bg.png"); */
  }

  #bh .left {
    flex: 30%;
  }

  #bh .right {
    flex: 70%;
    padding-left: 30px;
    justify-content: space-around;
  }

  #bh .left img {
    /* padding: 0%; */
    width: calc(90% - 30px);
    height:calc(80%);
  }

  #bh .right h1 {
    width: 100%;
    height: 210px;
    color: #1d1d20;
    font-family: "Poppins";
    font-size: 114px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 118px;
  }

  #bh .right p {
    width: 100%;
    height: 457px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    /* text-align: left; */
    text-transform: uppercase;
    letter-spacing: 1.56px;
  }

  #bh .right button {
    width: 80%;
    height: 90px;
    border-radius: 45px;
    background-color: #b72e33;
    background-image: linear-gradient(45deg, #ff7d00 20%, #ff544f 80%);
    color: #fffefe;
    font-family: "Koz Go Pr 6 N";
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.91px;
    cursor: pointer;
  }

  #work {
    height: max-content;
    text-align: center;
  }
  #work h3 {
    padding-left: 2%;
  }
  .work-container .left img,
  .work-container .center img,
  .work-container .right img {
    width: 674px;
    height:60%;
  }
  .work-container .left,
  .work-container .center,
  .work-container .right {
    text-align: center;
    font-size: 30px;
  }
  #work button {
    width: 15px;
    height: fit-content;
    font-size: 24px;
  }
  #about {
    height: max-content;
  }
  #about .des p {
   
    font-size: 15px;

    line-height: 28px;
    letter-spacing: 1.08px;

  }
  #cpr8 p {
    width: 100%;
    height: max-content;

    font-size: 15px;
  
  }
  
  #cont {
    height: max-content;
  }
  .cbtn{
    width: 50%;
    padding:0% 25%;
    display: flex;
    flex-direction: column;
  }
  #cont button {
    width: 100%;
    height: 50px;
    font-size: 17px;
    letter-spacing: 0.71px;
  }
  #cpr8 {
    height: max-content;
  }
  #about div {
    padding-top: 4%;
  }
  .header-sp button img{
    height: 16px;
    width: 16px;
  }
}
@media (max-width: 626px) {


  .header-sp button {
    width: 95px;
    height: 32px;
    font-size: 15px;
  }
  #bh .right h1{
    width: 100%;
    height: 200px;
   
    font-size: 84px;
   
    line-height: 100px;
  }
  #bh .right p {
    width: 100%;
    height: 600px;
    font-size: 20px;
    line-height: 46px;
    
  }
  #bh .right button {
    width: 100%;
    height: 50px;
    font-size: 23px;
    
  }
  #cmpy .title {
   
    font-size: 20px;
    line-height: 38px;
  }
  
  #cmpy .capt {

    font-size: 28px;

    line-height: 38px;
    letter-spacing: 2.04px;
  }
  th,
td {
  padding: 7px;
}

th {
  
  font-size: 11px;

  line-height: 28px;
 
  letter-spacing: 1.08px;
  padding-left: 4%;
}

td {

  font-size: 11px;

  line-height: 28px;
  letter-spacing: 1.08px;
  padding-left: 9%;
}
#cont .title {
  
  height: 18px;
 
  font-size: 18px;

  padding-top: 2%;
}

#cont .capt {
  height: 20px;

  font-size: 20px;
  
  padding-top: 5%;
}
.header-sp button img{
  height: 13px;
  width: 13px;
}
}
@media (max-width: 428px){
  
  .logo-sp img{
    width: 120px;
    height: 20px;
  }
  .dropbtn{
    width:30px;
    height: 40px;
  }
  .header-sp button {
    width: 75px;
    height: 25px;
    font-size: 11px;
  }
  .header-sp button img{
    height: 10px;
    width: 10px;
  }
  #bh .right h1{
    height: 200px;
   
    font-size: 60px;
   
    line-height: 100px;
  }
  #bh .right p {
    width: 100%;
    height: 600px;
    font-size: 18px;
    line-height: 40px;
    
  }
  #cont button {
    width: 100%;
    height: 50px;
    font-size: 14px;
    letter-spacing: 0.71px;
  }
  #bh .right button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    
  }
}
@media (max-width: 350px){
 
  #bh .right p {
    width: 100%;
    height: 600px;
    font-size: 15px;
    line-height: 37px;
    
  }
  #cont button {
    width: 100%;
    height: 50px;
    font-size: 14px;
    letter-spacing: 0.71px;
  }
  #bh .right button {
    width: 80%;
    height: 40px;
    font-size: 15px;
    
  }
  #about .title h2 {
    
    height: 32px;
  
    font-size: 22px;
   
  }
  
  #about .capt h1 {
   
    font-size: 30px;
   
    letter-spacing: 2.04px;

  }
  #about .des p {
   
    font-size: 12px;

    line-height: 22px;
    letter-spacing: 1.08px;

  }
  #cont button {
    width: 100%;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.51px;
  }
  #cpr8 p {
    width: 100%;
    height: max-content;

    font-size: 12px;
  
  }
}