* {
    margin: 0;
  }
  .header {
    width: 100%;
    height: 81px;
    box-shadow: 0 3px 10px #dadada;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
  }
  .header-sp{
    display: none;
  }
  
  
  nav {
    display: flex;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 179px;
    height: 24px;
    background-color: #ffffff;
    cursor: pointer;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 9px;
    position: relative;
  }
  .nav-links ul li a {
    text-decoration: none;
    color: #000000;
    font-family: "Noto Sans JP";
    font-size: 18px;
    font-weight: 500;
  }
  .nav-links button {
    width: 165px;
    height: 42px;
    border-radius: 21px;
    background-color: #b72e33;
    background-image: linear-gradient(45deg, #ff7d00 20%, #ff544f 80%);
    color: #ffffff;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    border: none;
    /* position: relative;
      left: 25%; */
  }
  #bh {
    padding: 0;
    margin: 0;
    width: 100%;
    height: max-content;
    background-image: url("../images/レイヤー_6.jpg");
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
  }
  /* 
      display: flex;
      flex-direction: column;
  } */
  
  #bh .left,
  .right {
    flex: 50%;
    padding-top: 190px;
  }
  #bh .left {
    padding-left: 10%;
  }
  #bh .right {
    justify-content: space-between;
    padding-right: 75px;
  }
  #bh .right h1 {
    width: 100%;
    height: 10%;
    color: #1d1d20;
    font-family: "Poppins";
    font-size: 54px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
  }
  #bh .right p {
    width: 100%;
    height: 246px;
    color: #1d1d20;
    font-family: "Noto Sans JP";
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    text-align: left;
  }
  #bh .right button {
    width: 266px;
    height: 50px;
    border-radius: 25px;
    background-color: #b72e33;
    background-image: linear-gradient(45deg, #ff7d00 20%, #ff544f 80%);
    border: none;
    color: #fffefe;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.91px;
    line-height: normal;
    cursor: pointer;
  }
  #work {
    width: 100%;
    height: 800px;
    background-color: #ffffff;
    padding: 3% 0%;
    text-align: center;
  }
  #work h2 {
    width: 100%;
    height: 22px;
    color: #ff7d00;
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
  }
  #work h1 {
    width: 100%;
    height: 36px;
    color: #000000;
    font-family: "Poppins";
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    text-transform: uppercase;
  }
  #work a {
    width: 100%;
    height: 20px;
    color: #ff7d00;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    text-decoration: underline;
    /* Text style for "h, ttps://" */
    font-style: normal;
    letter-spacing: 1.28px;
    line-height: 4;
  }
  
  .work-container {
    display: flex;
    flex-direction: row;
    height: 70%;
  }
  .owl-stage img{
      padding: 0 4%;
      width: 250px;
      height: 265px;
      margin: auto;
  }
  .work-container h3 {
    text-align: center;
    padding-right: 5%;
  }
  .work-container .left {
    flex: 33%;
    height: 100%;
    padding: 6% 0%;
    color: #000000;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    text-align: left;
    padding-left: 3%;
    padding-right: 5%;
  }
  
  .work-container .center {
    flex: 34%;
    height: 100%;
    padding: 6% 0%;
    color: #000000;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    text-align: left;
    padding-left: 3%;
    padding-right: 5%;
  }
  .work-container .right {
    flex: 33%;
    height: 100%;
    padding: 6% 0%;
    color: #000000;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    text-align: left;
    padding-left: 3%;
    padding-right: 5%;
  }
  #work .owl-prev,
  #work .owl-next {
    width: 55px;
    height: 55px;
    background-color: #ff7d00;
    border-radius: 100%;
    border: none;
    cursor: pointer;
  }
  #work .owl-prev span,
  #work .owl-next span {
    font-size: 38px;
    color: white;
    font-family: "Poppins";
  }
  #about {
    background-image: url("../images/bg.png");
    width: 100%;
    height: 547px;
    position: relative;
    text-align: center;
    padding-top: 6%;
  }
  /* #about div {
    padding-top: 2%;
  } */
  #about .title h2 {
    width: 100%;
    height: 32px;
    color: #ff7d00;
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    padding-top: 2%;
  }
  #about .capt h1 {
    width: 100%;
    height: 31px;
    color: #000000;
    font-family: "Poppins";
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 3.04px;
    padding-top: 2%;
  }
  #about .des p {
    width: 100%;
    height: max-content;
    color: #000000;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    letter-spacing: 2.08px;
    padding-top: 2%;
    text-align: center;
  }
  
  #about .twit-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2%;
  }
  #about .twit-links div {
    padding: 2% 2%;
    width: 65px;
  }
  #about .twit-links div a {
    height: 19px;
    color: #00aced;
    font-family: "Noto Sans JP";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    text-align: left;
    text-decoration: none;
  }
  #cmpy {
    width: 100%;
    height: 748px;
    position: relative;
    text-align: center;
    padding: 9% 0%;
  }
  
  table,
  td,
  th {
    border: 2px solid rgb(16, 16, 16);
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    position: relative;
    left: 10%;
  }
  table tr:nth-child(odd) {
    background-color: #fff9f4;
  }
  
  th,
  td {
    padding: 15px;
  }
  
  th {
    color: #000000;
    font-family: "Noto Sans JP";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    text-align: left;
    letter-spacing: 2.08px;
    padding-left: 4%;
  }
  td {
    color: #000000;
    font-family: "Noto Sans CJ Kjp";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    text-align: left;
    letter-spacing: 2.08px;
    padding-left: 9%;
  }
  #cmpy .title {
    color: #ff7d00;
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
  }
  
  #cmpy .capt {
    color: #000000;
    font-family: "Koz Go Pr 6 N";
    font-size: 38px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    letter-spacing: 3.04px;
  }
  
  #cont {
    width: 100%;
    height: 446px;
    background-color: #f5f5f5;
    position: relative;
    text-align: center;
  }
  #cont .title {
    width: 100%;
    height: 21px;
    color: #ff7d00;
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    padding-top: 6%;
  }
  #cont .capt {
    width: 100%;
    height: 36px;
    color: #000000;
    font-family: "Koz Go Pr 6 N";
    font-size: 38px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    padding-top: 3%;
  }
  #cont button {
    width: 266px;
    height: 50px;
    border-radius: 25px;
    background-color: #b72e33;
    background-image: linear-gradient(45deg, #ff7d00 20%, #ff544f 80%);
    border: none;
    color: #fffefe;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.91px;
  }
  
  #cont div {
    padding-top: 2%;
  }
  
  #cpr8 {
    width: 100%;
    height: 81px;
    background-color: #ffffff;
  }
  #cpr8 p {
    width: 100%;
    height: 22px;
    color: #959595;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 2% 0%;
  }
  @media (max-width: 1310px) {
    .nav-links ul li a {
      font-size: 15px;
    }
    .logo {
      width: 110px;
      height: 34px;
    }
    .nav-links button {
      width: 110px;
      height: 34px;
      font-size: 16px;
    }
    .nav-links button img {
      height: 14px;
      width: auto;
    }
    #bh .left img {
      width: 328px;
      height: 278px;
      padding-top: 10%;
    }
  
    #bh .right h1 {
      font-size: 40px;
    }
    #bh .right p {
      font-size: 12px;
    }
    #bh .right button {
      width: 166px;
      height: 35px;
      font-size: xx-small;
    }
    .work-container img {
      width: 250px;
      height: 200px;
    }
    .work-container .left,
    .center,
    .right {
      font-size: 20px;
    }
    .work-container .center {
      font-size: 20px;
    }
    .work-container .right {
      font-size: 20px;
    }
    nav {
      padding: 20px 5%;
    }
  }
  
  @media (max-width: 1024px) {
    .logo {
      width: 19px;
    }
  
    #bh .right h1 {
      font-size: 40px;
    }
    #bh .right p {
      font-size: 12px;
    }
    #bh .right button {
      width: 166px;
      height: 35px;
      font-size: xx-small;
    }
    #about .des p {
      width: 100%;
      height: 77px;
      font-size: 15px;
    }
  }
  @media (max-width: 1175px) {
    .logo {
      width: 95px;
      height: 24px;
    }
    nav button {
      width: 95px;
      height: 34px;
      font-size: 10px;
    }
    nav button img {
      height: 10px;
      width: auto;
    }
  }
  @media (max-width: 1005px) {
    .nav-links ul li a {
      font-size: 12px;
    }
    #bh .left img {
      width: 255px;
      height: 218px;
    }
    nav button {
      width: 75px;
      height: 24px;
      font-size: 10px;
    }
  }
  @media (max-width: 880px) {
    .nav-links ul li a {
      font-size: 10px;
    }
    .logo {
      width: 65px;
      height: 21px;
      padding: 0px;
    }
    nav button {
      width: 65px;
      height: 21px;
      font-size: 9px;
    }
    nav button img {
      height: 8px;
      width: auto;
    }
    #bh .right p {
      font-size: 9px;
    }
  }
  @media (max-width: 800px) {
    table {
      border-collapse: collapse;
      width: 90%;
      position: relative;
      left: 4%;
    }
  }
  @media (max-width: 768px) {
  
    .header-sp{
      display: unset;
    }
    
    .header-sp{
      width: 100%;
      height: 81px;
      box-shadow: 0 3px 10px #dadada;
      background-color: #ffffff;
      display: flex;
    /* padding: 0px 10%; */
    justify-content: space-around;
    align-items: center;
    }
    .header-sp button {
      width: 145px;
      height: 42px;
      border-radius: 21px;
      background-color: #b72e33;
      background-image: linear-gradient(45deg, #ff7d00 20%, #ff544f 80%);
      color: #ffffff;
      font-family: "Poppins";
      font-size: 18px;
      font-weight: 400;
      border: none;
      /* position: relative;
        left: 25%; */
    }
    .dropbtn {
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
      background-color: #dadada;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd}
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
      #work .owl-prev,
  #work .owl-next {
      width: 65px;
      height: max-content;
  }
  #work .owl-prev span,
  #work .owl-next span {
      justify-content: space-evenly;
      justify-items: center;
      font-size: 44px;
  }
    .header{
      display: none;
    }
    /* .logo {
      padding-left: 14%;
    } */
    /* .work-container .center, .work-container .right{
          display: none;
      } */
    #bh {
      height: 2000px;
      display: flex;
      flex-direction: column;
    }
    #bh .left {
      flex: 30%;
    }
    #bh .right {
      flex: 70%;
      padding-left: 30px;
      justify-content: space-around;
    }
    #bh .left img {
      /* padding: 0%; */
      width: calc(100% - 30px);
      height: 80%;
    }
    #bh .right h1 {
      width: 100%;
      height: 210px;
      color: #1d1d20;
      font-family: "Poppins";
      font-size: 114px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 118px;
    }
    #bh .right p {
      width: 100%;
      height: 457px;
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 54px;
      /* text-align: left; */
      text-transform: uppercase;
      letter-spacing: 1.56px;
    }
    #bh .right button {
      width: 80%;
      height: 90px;
      border-radius: 45px;
      background-color: #b72e33;
      background-image: linear-gradient(45deg, #ff7d00 20%, #ff544f 80%);
      color: #fffefe;
      font-family: "Koz Go Pr 6 N";
      font-size: 28px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      border: none;
      letter-spacing: 0.91px;
      cursor: pointer;
    }
    #work {
      height: 1433px;
      text-align: center;
    }
    #work h2 {
      width: 100%;
      height: 22px;
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 38px;
      padding: 4% 0px;
    }
    #work h1 {
      height: 65px;
      font-size: 70px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 38px;
      text-transform: uppercase;
      letter-spacing: 5.6px;
      padding: 4% 0px;
    }
    #work span {
      height: 39px;
      color: #1d1d20;
      font-family: "Poppins";
      font-size: 50px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      font-style: normal;
      letter-spacing: 4px;
    }
    #work .work-container h3 {
      height: 39px;
      font-size: 50px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 38px;
      letter-spacing: 4px;
    }
    #work button {
      width: 97px;
      height: 96px;
      font-size: 48px;
    }
    .work-container .left,
    .work-container .center,
    .work-container .right {
      padding-right: 7%;
      text-align: center;
    }
    .work-container .left img,
    .work-container .center img,
    .work-container .right img {
      width: calc(100% - 4%);
      height: 423px;
    }
    #work .buttons {
      padding-top: 15%;
    }
  
    #about div {
      padding-top: 4%;
    }
  }
  